@import url('https://fonts.googleapis.com/css2?family=Redressed&display=swap');


.App {
  text-align: center;
  background-color:  #f9f3f3;
  padding: 2rem;
}
.text {
  color: #810034;
}
.counter {
  color: #c42b5e;
}
.container {
  margin: 2rem;
}
.full-name {
  color: #c42b5e;
  font-family: Redressed;
  font-size: 4rem;

}
.info {
  color: #f25287;
  font-family: Redressed;
  font-size: 2rem; 
}
.info2 {
  color: #c42b5e;
  font-family: Redressed;
  font-size: 2rem; 
}
.profile-info {
  padding: 4rem;
}
